.btn {
    outline: none;
    border: none;
    display: block;
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
    background-color: firebrick;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.btn:disabled {
    background-color: #888;
    cursor: not-allowed;
}
